@using System
@using supervisor_agente.Consulta
@model supervisor_agente.Consulta.ModeloConsulta
@{
    ViewData["Title"] = "Home Page";
}
@{
	/*
<div style="width:90%;">
	<canvas id="canvas"></canvas>
</div>
	*/
}
<h1 class="h3">Resumen actividad de agentes por semana</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
Atemtes destacados
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agentes destacados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="h4">Agentes con más llamadas atendidas</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.listaAgenteMasLlamadas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
			<td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
}
    </tbody>
</table>
		<h2 class="h4">Agentes con menos llamadas atendidas</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.listaAgenteMenosLlamadas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
			<td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
}
    </tbody>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                SEMANA #
            </th>
            <th>
                Resueltas
            </th>
            <th>
                No resueltas
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.listaConsultaPorSemana) {
        <tr>
            <td>
                Semana # @Html.DisplayFor(modelItem => item.semana)
            </td>
			<td>
                @Html.DisplayFor(modelItem => item.resueltos)
            </td>
			<td>
                @Html.DisplayFor(modelItem => item.noResueltos)
            </td>
			<td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
        </tr>
}
    </tbody>
</table>



@section Scripts {
    <script src="/lib/chart.js/chart.min.js"></script>
    <script src="/lib/chart.js/util.js"></script>
    <script>
		var randomScalingFactor = function() {
			return Math.round(Math.random() * 100);
		};

		var config = {
			type: 'line',
			data: {
				labels: [['June', '2015'], 'July', 'August', 'September', 'October', 'November', 'December', ['January', '2016'], 'February', 'March', 'April', 'May'],
				datasets: [{
					label: 'My First dataset',
					fill: false,
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					]
				}, {
					label: 'My Second dataset',
					fill: false,
					backgroundColor: window.chartColors.blue,
					borderColor: window.chartColors.blue,
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart with Multiline Labels'
				},
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
</script>
}