@model IEnumerable<supervisor_agente.Data.Actividad>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Actividades</h2>

<p>
    <a asp-action="Create">Nueva Actividad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asuntoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asunto.estaResuelto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asunto.tipo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @if(item.duracion < 60 ) {
                    <span>@item.duracion sec</span>
                } else {
                    int minutes = item.duracion / 60;
                    int seconds = item.duracion % 60;
                    <span>@minutes m @seconds s</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asuntoId)
            </td>
            <td>
                @if(item.asunto.estaResuelto == true) {
                    <span class="text-bold text-primary">RESUELTO</span>
                } else {
                    <span class="text-bold text-danger">NO RESUELTO</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asunto.tipo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
