@model IEnumerable<supervisor_agente.Data.Asunto>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de asuntos</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estaResuelto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @if(item.estaResuelto == true) {
                    <span class="text-bold text-primary">RESUELTO</span>
                } else {
                    <span class="text-bold text-danger">NO RESUELTO</span>
                }
            </td>
        </tr>
}
    </tbody>
</table>
